@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap");

/* Base Styles */

:root {
  --base-shade-1: #54cc85;
  --base-shade-2: #479264;
  --white-shade-1: #fff;
  --white-shade-2: #f8fafb;
  --white-shade-3: rgba(255, 255, 255, 0.5);
  --black-shade-1: #231c3d;
  --black-shade-2: #575a7b;

  --base-font-size: 1.6rem;
  --heading-font-size-1: 4rem;
  --heading-font-size-2: 3.2rem;
  --heading-font-size-3: 2rem;
  --heading-font-size-4: 1.8rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --border-radius-1: 1rem;
  --border-radius-2: 0.5rem;
}

/* CSS Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 10000px;
  background-color: white;
}

/* Scroll Indicator */

.progress-container {
  width: 100%;
  height: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white-shade-3);
  backdrop-filter: blur(0.8rem);
}

#progress {
  width: 0;
  height: 100%;
  background-color: var(--base-shade-1);
}

/* Navigation  Bar */

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 1rem;
  left: 0;
  padding: 2rem;
  background-color: var(--white-shade-3);
  backdrop-filter: blur(0.8rem);
}

nav img {
  width: 1.8rem;
  height: 1.8rem;
}

.logo {
  font-size: var(--heading-font-size-4);
  font-weight: 700;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

nav a {
  color: var(--black-shade-1);
  text-decoration: none;
  display: block;
  position: relative;
  font-size: var(--heading-font-size-4);
}

nav img {
  display: none;
}

nav li a::before {
  content: "";
  position: absolute;
  background-color: var(--base-shade-1);
  width: 0;
  height: 50%;
  bottom: 0;
  z-index: -1;
  margin-left: -5%;
  transition: all 0.5s;
}

nav li a:hover::before {
  background-color: var(--base-shade-1);
  width: 110%;
}

nav .sticky {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);
}

/* Hero Section */

header {
  margin-top: 1rem;
  padding: 5rem;
  display: grid;
  grid-template-columns: 4fr 6fr;
  align-items: center;
}

.hero-text p {
  text-align: justify;
}

header img {
  display: block;
  width: 100%;
}

.hero-btn {
  display: flex;
  gap: 2rem;
}

.hero-btn button {
  margin-top: 2rem;
}
