@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap");

/* Base Styles */

:root {
  --base-shade-1: #54cc85;
  --base-shade-2: #479264;
  --white-shade-1: #fff;
  --white-shade-2: #f8fafb;
  --white-shade-3: rgba(255, 255, 255, 0.5);
  --black-shade-1: #231c3d;
  --black-shade-2: #575a7b;

  --base-font-size: 1.6rem;
  --heading-font-size-1: 4rem;
  --heading-font-size-2: 3.2rem;
  --heading-font-size-3: 2rem;
  --heading-font-size-4: 1.8rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --border-radius-1: 1rem;
  --border-radius-2: 0.5rem;
}

/* CSS Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

/* Scroll Indicator */

.progress-container {
  width: 100%;
  height: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white-shade-3);
  backdrop-filter: blur(0.8rem);
}

#progress {
  width: 0;
  height: 100%;
  background-color: var(--base-shade-1);
}

/* Navigation  Bar */

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 1rem;
  left: 0;
  padding: 2rem;
  background-color: var(--white-shade-3);
  backdrop-filter: blur(0.8rem);
}

nav img {
  width: 1.8rem;
  height: 1.8rem;
}

.logo {
  font-size: var(--heading-font-size-4);
  font-weight: var(--font-weight-bold);
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

nav a {
  color: var(--black-shade-1);
  text-decoration: none;
  display: block;
  position: relative;
  font-size: var(--heading-font-size-4);
}

nav img {
  display: none;
}

nav li a::before {
  content: "";
  position: absolute;
  background-color: var(--base-shade-1);
  width: 0;
  height: 50%;
  bottom: 0;
  z-index: -1;
  margin-left: -5%;
  transition: all 0.5s;
}

nav li a:hover::before {
  background-color: var(--base-shade-1);
  width: 110%;
}

nav .sticky {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.03);
}

/* Hero Section */

header {
  margin-top: 1rem;
  padding: 5rem;
  display: grid;
  grid-template-columns: 4fr 6fr;
  align-items: center;
}

.hero-text h1 {
  text-align: center;
}

.hero-text p {
  text-align: justify;
}

header img {
  display: block;
  width: 100%;
}

.hero-btn {
  display: flex;
  gap: 2rem;
}

.hero-btn button {
  margin-top: 2rem;
}

/* About Section */

.about .row {
  align-items: center;
}

.about .row .column {
  width: 100%;
  padding: 0;
}

.about img {
  display: block;
  width: 80%;
}

.about p {
  margin: auto 0;
  text-align: justify;
}

/* Benefits Section */

.benefits .column {
  padding: 4rem 2rem;
  border-radius: var(--border-radius-1);
}

.benefits .column:hover {
  background-color: var(--base-shade-1);
}

.benefits .column:hover p {
  color: var(--white-shade-1);
}

.benefits .img-container {
  height: 10rem;
  width: 10rem;
  background-color: var(--white-shade-1);
  margin: auto;
  border-radius: 50%;
}

.benefits img {
  width: 7rem;
  display: block;
  margin: auto;
  padding: 1.1rem 0;
}

.benefits h3 {
  text-align: center;
}

/* Pricing Section */

.pricing .column {
  padding: 3rem 5rem;
  border-radius: var(--border-radius-1);
}

.pricing .column.basic {
  background-color: var(--white-shade-2);
}

.pricing .column.pro {
  background-color: var(--base-shade-1);
}

.pricing h3,
.pricing h4 {
  text-align: center;
}

.pricing h4 {
  font-weight: var(--font-weight-regular);
}

.pricing .pro h4 {
  color: var(--base-shade-1);
}

.pricing .pro p {
  color: var(--white-shade-2);
}

.pricing .details {
  padding: 2rem 0;
  margin: 1rem 0;
}

.pricing .details > p {
  padding: 1.2rem 0;
  text-align: center;
}

.pricing .details {
  margin-top: 1.3rem;
}

.column .details p {
  border-bottom: 0.1rem solid var(--black-shade-2);
}

.pricing .column button {
  display: block;
  margin: auto;
}

/* Newsletter Section */

.newsletter {
  background: linear-gradient(
    var(--white-shade-1) 60%,
    var(--base-shade-1) 60%
  );
}

.newsletter .wrapper {
  background-color: var(--white-shade-1);
  padding: 3rem 10rem;
  border-radius: var(--border-radius-1);
  box-shadow: 0 -10px 25px rgba(255, 255, 255, 0.05);
}

.newsletter .wrapper h3 {
  color: var(--black-shade-1);
  text-align: center;
}

.newsletter .wrapper p {
  text-align: center;
}

.newsletter form {
  margin: 3rem 0 1rem 0;
  display: flex;
  justify-content: space-between;
}

.newsletter form input {
  width: 60%;
  border: 0.1rem solid var(--black-shade-1);
}

.newsletter form button {
  width: 30%;
}

input[type="email"] {
  padding: 0.8rem 2rem;
  border-radius: var(--border-radius-2);
  outline: none;
}

input[type="email"]:focus {
  border: 0.2rem solid var(--black-shade-1);
}

/* Footer Section */

footer {
  background-color: var(--base-shade-1);
  text-align: center;
}

footer .row {
  padding: 3rem 0;
}

footer .column {
  width: 100%;
}

footer .row:nth-child(1) {
  border-bottom: 0.2rem solid var(--white-shade-1);
}

footer .row:nth-child(2) {
  justify-content: center;
  gap: 20rem;
}

footer h3 {
  color: var(--white-shade-2);
}

footer img {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

/* Copyright */
.copyright {
  padding: 2.5rem 0;
  background-color: var(--white-shade-2);
  text-align: center;
}

.copyright p {
  color: var(--black-shade-1);
}

/* Scroll To Top */
#scroll-to-top {
  display: none;
  place-items: center;
  height: 4rem;
  width: 4rem;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  outline: none;
  border: 0.4rem solid var(--white-shade-1);
  border-radius: var(--border-radius-2);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.12);
}

#scroll-to-top img {
  width: 2rem;
}
